/app/config/parameters.yml
/app/config/parameters-sample.yml
/app/config/parameters-test.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
.idea
.phpunit.result.cache
/web/uploads/