{% extends 'AdventureBundle:Emails:layout.html.twig' %}

{% block body %}
    <div>
        <h3>{% trans %}yourHardwareLendingAgreement{% endtrans %}</h3>
        <p>
            <b>{% trans %}theDocumentIsAvailableForDownloadInTheAttachment{% endtrans %}</b>
        </p>
    </div>
{% endblock %}