{% extends 'AdventureBundle:Emails:layout.html.twig' %}

{% block body %}
    <div>
        <h3>{% trans %}hardwareMails.ready.part1{% endtrans %}</h3>
        <p>
            <b>{% trans %}hardwareMails.ready.part2{% endtrans %}</b>
        </p>
    </div>
{% endblock %}