@import './settings';

@mixin setupColumnWidth {
  tr {

    // Name column
    th:first-child, td:first-child {
      min-width: $nameColumnWidth;
      width: $nameColumnWidth;
      text-align: right;
    }

    // Sum column
    th:nth-child(2), td:nth-child(2) {
      min-width: $sumColumnWidth;
      width: $sumColumnWidth;
      border-left: $tableBorderStyle;
      text-align: center;
    }

    th.freeDay, th.weekend {
      width: 5px !important;
    }
  }
}