$nameColumnWidth: 200px;
$sumColumnWidth: 100px;
$dataColumnMaxWidth: 20px;

$secondaryRowBackgroundColor: rgba(0, 0, 0, 0.03);
$tableBorderColor: rgba(0, 0, 0, 0.12);
$dayOffColor: rgba(54, 209, 116, 1);
$sickLeaveColor: rgba(128, 0, 128, 1);
$weekendDayColor: rgba(0, 0, 0, 0.12);
$freeDayColor: rgba(255, 0, 0, 0.12);
$activeDayColor: rgba(187, 192, 17, 0.64);
$todayDayColor: rgba(100,149,237 ,1 );

$tableBorderStyle: 1px solid $tableBorderColor;